<extend name="Public/base" />
<block name="body">
    <form action="__SELF__" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">用户名称:</td>
                <td>
                    <input type='text' name='name' value="" />
                </td>
            </tr>
            <tr>
                <td class="label">用户密码:</td>
                <td>
                    <input type='password' name='pwd' value="" />
                </td>
            </tr>
            <tr>
                <td class="label">用户所属角色:</td>
                <td>
                    <select name="role_id">
                    <volist name='res' id='vo'>
                        <option value="{$vo.id}">{$vo.role_name}</option>
                    </volist>
                    </select>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</block>