<extend name="Public/base" />
<block name="title">ECSHOP 管理中心 - 商品列表</block>
<block name="body">
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>权限名称</th>
                <th>模块名称</th>
                <th>控制器名称</th>
                <th>操作名称</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>  
            <volist name="data" id="vo">     
            <tr align="center" class="0">
                <td align="left" class="first-cell" >                
                   {$vo.lev|str_repeat='&nbsp;&nbsp;',###}{$vo.rule_name}
                </td>
                <td align="center" >{$vo.module_name}</td>
                <td align="center" >{$vo.controller_name}</td>
                <td align="center" >{$vo.action_name}</td>
                <td align="center" ><eq name="vo.is_show" value="1">显示<else />不显示</eq></td>
                <td width="30%" align="center">
                    <a href="{:U('edit','rule_id='.$vo['id'])}">编辑</a> |
                    <a href="{:U('dels','rule_id='.$vo['id'])}" title="移除" onclick="">移除</a>
                </td>
            </tr>
            </volist>
        </table>
    </div>
</form>
</block>