<extend name="Public/base" />
<block name="body">
<div class="form-div">
    <form action="" name="searchForm">
        <img src="__ADMIN__/Images/icon_search.gif" width="26" height="22" border="0" alt="search" />
        <!-- 分类 -->
        <select name="cat_id">
            <option value="0">所有分类</option>
            <volist name="tree" id="vo">
                <option value="{$vo.id}">{$vo.lev|str_repeat='&nbsp;',###}{$vo.cname}</option>
            </volist>
        </select>

        <!-- 推荐 -->
        <select name="intro_type">
            <option value="0">全部</option>
            <option value="is_rec">推荐</option>
            <option value="is_new">新品</option>
            <option value="is_hot">热销</option>
        </select>
        <!-- 关键字 -->
        关键字 <input type="text" name="keyword" size="15" />
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>

<!-- 商品列表 -->

<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th>编号</th>
            <th>商品名称</th>
            <th>分类名称</th>
            <th>货号</th>
            <th>价格</th>
            <th>推荐</th>
            <th>新品</th>
            <th>热销</th>
            <th>操作</th>
        </tr>
        <volist name="data.list" id="vo">
        <tr>
            <td align="center">{$vo.id}</td>
            <td align="center" class="first-cell">{$vo.goods_name}</td>
            <td align="center" class="first-cell">{$vo.cate_id}</td>
            <td align="center">{$vo.goods_sn}</td>
            <td align="center">{$vo.shop_price}</td>
            <td align="center"><img onclick="is_toggle(this,{$vo.id},'is_rec')" src="__ADMIN__/Images/<eq name='vo.is_rec' value='1'>yes.gif<else />no.gif</eq> "/></td>
            <td align="center"><img onclick="is_toggle(this,{$vo.id},'is_new')" src="__ADMIN__/Images/<eq name='vo.is_new' value='1'>yes.gif<else />no.gif</eq> "/></td>
            <td align="center"><img onclick="is_toggle(this,{$vo.id},'is_hot')" src="__ADMIN__/Images/<eq name='vo.is_hot' value='1'>yes.gif<else />no.gif</eq> "/></td>
            <td align="center">
            
            <a href="{:U('dels','is_del=1&goods_id='.$vo['id'])}" title="还原">还原</a>
            <a href="{:U('remove','goods_id='.$vo['id'])}" title="回收站">彻底删除</a></td>
        </tr>
        </volist>
    </table>
    <!-- 分页开始 -->
    <table id="page-table" cellspacing="0">
        <tr>
            <td width="80%">&nbsp;</td>
            <td align="center" nowrap="true"> 
                {$data.pageStr}
            </td>
        </tr>
    </table>
<!-- 分页结束 -->
</div>
</block>

<block name="js">
    <script type="text/javascript">
        function is_toggle(obj,goods_id,field){
            // 触发ajax
            $.ajax({
                url:'{:U("setStatus")}',
                data:{goods_id:goods_id,field:field},
                type:'post',
                success:function(res){
                    if(res.status==1){
                        if(res.ztm==1){
                            // 表示图需要使用yes
                            $(obj).attr('src','__ADMIN__/Images/yes.gif');
                        }else{
                            $(obj).attr('src','__ADMIN__/Images/no.gif');
                        }
                    }
                }
            });
        }
    </script>

</block>